h1,
h2 {
  margin: 0;
}

#top-ui {
  display: flex;
  align-items: center;
  font-size: 2.25rem;
  flex-direction: column;
}

#players {
  display: flex;
  font-size: 1.5rem;
  gap: 1000px;
}

/*Aligns the game board to the center of the screen*/
#container {
  display: flex;
  justify-content: center;
}

#game-board {
  background-color: rgb(255, 253, 226);
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}

.grid-cell {
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.your-turn {
  color: rgb(22, 203, 37);
}

.restart-game {
  position: absolute;
  margin-top: 260px;
}

button {
  width: 200px;
  height: 60px;
  font-size: 1.5rem;
  background-color: rgb(240, 122, 122);
  border-radius: 20px;
}
